<div class="container mt-5">
            {{#if totalApuestas}}
        <h1 class="mb-4">Estadísticas de Apuestas</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Total de apuestas: <strong>{{totalApuestas}}</strong></p>
                <p class="card-text">Cantidad de apuestas acertadas: <strong>{{cantidadAcertadas}}</strong></p>
                <p class="card-text">Cantidad de apuestas fallidas: <strong>{{cantidadFallidas}}</strong></p>
                <p class="card-text">Cantidad de apuestas pendientes: <strong>{{cantidadPendientes}}</strong></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Suma total apostada: <strong>${{sumaDineroApostado}}</strong></p>
                <p class="card-text">Promedio de dinero apostado por apuesta: <strong>${{promedioDineroApostado}}</strong></p>
                <p class="card-text"> Apuesta más alta: <strong>${{apuestaMasAlta}}</strong>
                    <a href="/apuestas/edit/{{idApuestaMasAlta}}" class="btn btn-primary ml-2">Ver</a>
                </p>
                <p class="card-text">Apuesta más baja: <strong>${{apuestaMasBaja}}</strong>
                    <a href="/apuestas/edit/{{idApuestaMasBaja}}" class="btn btn-primary ml-2">Ver</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Total ganado: <strong>${{gananciaTotal}}</strong></p>
                <p class="card-text">Total perdido: <strong>${{perdidaTotal}}</strong></p>
                <p class="card-text">Ganancia/Perdida: <strong class="color-change">${{gananciaPerdida}}</strong></p>
                <p class="card-text">Apuesta con mayor ganancia: <strong>${{mayorGanancia}}</strong>
                <a href="/apuestas/edit/{{idMayorGanancia}}" class="btn btn-primary ml-2">Ver</a>
                </p>
                <p class="card-text">Apuesta con mayor perdida: <strong>${{mayorPerdida}}</strong>
                <a href="/apuestas/edit/{{idMayorPerdida}}" class="btn btn-primary ml-2">Ver</a>
                </p>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay ninguna apuesta creada aun.</p>
                <a href="/apuestas/add">Crear una</a>
            </div>
        </div>
        {{/if}}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const elements = document.querySelectorAll('.color-change');
    elements.forEach(function (element) {
        const valueWithCurrency = element.textContent.trim();
        const value = parseFloat(valueWithCurrency.replace('$', ''));

        if (!isNaN(value)) {
            if (value >= 0) {
                element.style.color = 'green';
            } else {
                element.style.color = 'red';
            }
        }
    });
});

</script>
