<div class="container mt-5">
        <h1 class="mb-4">Estadísticas de Apuestas</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Total de apuestas: <strong>{{totalApuestas}}</strong></p>
                <p class="card-text">Suma total apostada: <strong>${{sumaDineroApostado}}</strong></p>
                <p class="card-text">Promedio de dinero apostado por apuesta: <strong>${{promedioDineroApostado}}</strong></p>
                <p class="card-text">Apuesta más alta: <strong>${{apuestaMasAlta}}</strong></p>
                <p class="card-text">Apuesta más baja: <strong>${{apuestaMasBaja}}</strong></p>
            </div>
        </div>
    </div>