<br>
<br>
<div class="container">
    <form class="form-inline" action="/apuestas" method="GET">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="estado" style="color: white;">Filtrar por estado:</label>
                    <select class="form-control" id="estado" name="estado">
                       <option value="">Todos</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Acertada">Acertada</option>
                        <option value="Fallada">Fallada</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="competicion" style="color: white;">Filtrar por Competición:</label>
                    <select class="form-control" id="competicion" name="competicion">
                        <option value="">Todos</option>
                        <option value="Liga Profesional Argentina">Liga Profesional Argentina</option>
                        <option value="Copa de la Liga Profesional">Copa de la Liga Profesional</option>
                        <option value="Copa Argentina">Copa Argentina</option>
                        <option value="Libertadores">Libertadores</option>
                        <option value="Serie A Brasil">Serie A Brasil</option>
                        <option value="Serie A Italia">Serie A Italia</option>
                        <option value="La Liga">La Liga</option>
                        <option value="Champions League">Champions League</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="partido" style="color: white;">Filtrar por partido:</label>
                    <input type="text" class="form-control" id="partido" name="partido" placeholder="Nombre del partido">
                </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label for="fechaInicio" style="color: white;">Filtrar por rango de fechas:</label>
                <div class="row">
                    <div class="col-md-5">
                        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" />
                    </div>
                    <div class="col-md-2">
                        <label for="fechaFin" style="color: white;">Hasta</label>
                    </div>
                    <div class="col-md-5">
                        <input type="date" class="form-control" id="fechaFin" name="fechaFin" />
                    </div>
                </div>
            </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary btn-lg ">Filtrar</button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </form>
</div>
<br>
<br>
<br>

<div class="form-group">
            <div class="btn">
                <a href="/apuestas/add">Crear Apuesta</a>
            </div>
</div>

<div class="container p-4">
    <div class="row">
        {{#each apuestas}}
        <div class="col-md-3">
            <div class="card custom-card {{estadoColor estado}}">
                <div class="card-body">
                    <h3 class="card-title" >
                        {{partido}}
                    </h3>
                    <p class="m-2">Competicion: {{competicion}}</p>
                    <p class="m-2">Pronostico: {{pronostico}}</p>
                    <p class="m-2 ganancia"><strong>{{calculaGanancia cuota dinero estado}}</strong></p>
                    <p class="m-2"> {{timeago created_at}}</p>
                    <a class="btn" href="/apuestas/delete/{{id}}">
                        Borrar
                    </a>
                    <a class="btn light" href="/apuestas/edit/{{id}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
          {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay ninguna apuesta creada aun.</p>
                <a href="/apuestas/add">Crear una</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>



